@import '../_variables';

form {
  text-align: justify;
  background: #F9F9F9;
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  input {
    font-size: inherit;
  }

  h3 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    color: $black;
  }

  button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: $red;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }

  button[type="submit"]:hover {
    background: var(--dark-red);
    transition: background-color 0.3s ease-in-out;
  }

  button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }
}

.inputCheckbox {
  margin: 15px 0;
  font-size: 12px;
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.policyLabel {
  a {
    color: $black;
    text-decoration: underline;
    &:hover {
      color: $red;
    }
  }
}

form input[type="email"],
form input[type="tel"],
form input[type="text"],
form input[type="url"],
form textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

form input[type="email"]:hover,
form input[type="tel"]:hover,
form input[type="text"]:hover,
form input[type="url"]:hover,
form textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

form input:focus,
form textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}
