//$black: #232323;
$black: #141414;
$light-black: #2a2727;
$white: #fff;
//$red: #9a1010;
$red: #C43030;
$dark-red: #800606;
$gray: #a2a2a2;
$background: #141414;
$gray-line: #f6f6f6;
$orange: #E38A01;

$container-width: 90%;

$duration: 0.15s;
