@import '../../scss/variables';

.blockQuestions {
  padding-bottom: 100px;
  background: #fff;
}

.questionsTitle {
  color: $light-black;
  padding-top: 60px;
  padding-bottom: 30px;
}

.accordion {
  h3 {
    button {
      span {
        font-weight: 700;
        font-size: 20px;
        margin: 10px 0;
      }
    }
  }

}